

<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <title>Card Layout</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<h2  >  products </h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\sampa.jfif" alt="sampa">
              <div class="card-body">
                <h5 class="card-title">arsenal sampa</h5>
                <p class="card-text">red arsenal sampa all sizes </p>
                <p class="card-text">5000 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>
      <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\airpods.jfif" alt="airpods">
              <div class="card-body">
                <h5 class="card-title">air pods pro</h5>
                <p class="card-text">original air pods pro </p>
                <p class="card-text">7000 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>

        <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\makeup.jfif" alt="makeup">
              <div class="card-body">
                <h5 class="card-title">makeup kit</h5>
                <p class="card-text">full makeupkit </p>
                <p class="card-text">300 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>


        <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\watch.jfif" alt="watch">
              <div class="card-body">
                <h5 class="card-title"> apple watcht</h5>
                <p class="card-text"> </p>
                <p class="card-text">30000 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 mb-5">
          <div class="card">
            <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\white.jfif" alt="white">
            <div class="card-body">
              <h5 class="card-title"> white watch</h5>
              <p class="card-text"> </p>
              <p class="card-text">500 L.E </p>
              <a href="#" class="btn btn-primary">add to cart</a>
            </div>
          </div>
        </div>

      <div class="col-sm-3 mb-5">
       <div class="card">
        <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\auto.jfif" alt="auto">
        <div class="card-body">
          <h5 class="card-title"> auto car</h5>
          <p class="card-text"> auto expo 2020</p>
          <p class="card-text">350000 L.E </p>
          <a href="#" class="btn btn-primary">add to cart</a>
        </div>
      </div>
      </div>
      <div class="col-sm-3 mb-5">
        <div class="card">
            <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\chanel.jfif" alt="chanel">
            <div class="card-body">
              <h5 class="card-title"> chanel perfume</h5>
              <p class="card-text"> </p>
              <p class="card-text">7550 L.E </p>
              <a href="#" class="btn btn-primary">add to cart</a>
            </div>
          </div>
      </div>
      <div class="col-sm-3 mb-5">
        <div class="card">
            <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\glasses2.jfif" alt="glasses2">
            <div class="card-body">
              <h5 class="card-title"> glasses2</h5>
              <p class="card-text"> </p>
              <p class="card-text">750 L.E </p>
              <a href="#" class="btn btn-primary">add to cart</a>
            </div>
          </div>
        </div>

    </div>
</div>

    <!-- Third Row -->
    <div class="container">
    <div class="row">
      <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\heels.jfif" alt="heels">
              <div class="card-body">
                <h5 class="card-title">antiuqe heels</h5>
                <p class="card-text"> </p>
                <p class="card-text">1000 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>

      <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\cups.jfif" alt="cups">
              <div class="card-body">
                <h5 class="card-title"> cups organizer</h5>
                <p class="card-text"> </p>
                <p class="card-text">250 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>


      <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\co.jfif" alt="co">
              <div class="card-body">
                <h5 class="card-title"> pinapple lotion</h5>
                <p class="card-text"> </p>
                <p class="card-text">100 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>

      <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\by3.jfif" alt="by3">
              <div class="card-body">
                <h5 class="card-title"> mountain bicycle</h5>
                <p class="card-text"> </p>
                <p class="card-text">800 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>


          <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\campus.jfif" alt="campus">
              <div class="card-body">
                <h5 class="card-title"> black campus</h5>
                <p class="card-text"> </p>
                <p class="card-text">50000 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
        </div>

      <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\sc.jfif" alt="sc">
              <div class="card-body">
                <h5 class="card-title"> scooter motorcycle </h5>
                <p class="card-text"> </p>
                <p class="card-text">40000 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>
          </div>


          <div class="col-sm-3 mb-5">
            <div class="card">
                <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\coco.jfif" alt="coco">
                <div class="card-body">
                  <h5 class="card-title">coco chanel perfume</h5>
                  <p class="card-text"> coco chanel intense perfume </p>
                  <p class="card-text">8500 L.E </p>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
          </div>



          <div class="col-sm-3 mb-5">
            <div class="card">
              <img class="card-img-top" src="C:\Users\lenovo\exora\src\assets\pics\nirvana.jfif" alt="nirvana">
              <div class="card-body">
                <h5 class="card-title"> nirvana watch</h5>
                <p class="card-text"> </p>
                <p class="card-text">50000 L.E </p>
                <a href="#" class="btn btn-primary">add to cart</a>
              </div>
            </div>












      </div>
    </div>














    <div class="card mb-3" style="max-width: 100%; max-height: 0.2px;">
        <img class="card-img-top" src="C:\Users\lenovo\Desktop\task\Tast\src\assets\pics/footer.jpg" alt="footer">
    </div>



