.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

div {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.alreadyCustomer {
  margin-top: 10px;
}

.alreadyCustomer span {
  font-weight: bold;
}

.alreadyCustomer a {
  color: blue;
}
